<ion-view view-title="Map">
	<ion-content>
		<div id="map" data-tap-disabled="true"></div>
		 <div class="float-button" id="legendPopup">
			<span class="height-fix">	
				<div class="row">
					<div class="col col-10">
						<img src="img/redCar.svg">
					</div>
					<div class="col col-20">
						Filled Slot
					</div>
					<div class="col col-10">
						<img src="img/greenCar.svg">
					</div>
					<div class="col col-20">
						Empty Slot
					</div>
					<div class="col col-60">
						<button class="button button-balanced" ng-click="cancelZoomin()" style="float: right">
							Cancel
						</button>
					</div>
				</div>
			</span>
		</div>
	</ion-content>
</ion-view>